@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #202020;
    font-size: 14px;
}

@media screen and (min-width: 994px) {
    .form-control {
        width: 350px;
    }
}

.card-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: black;
}